.container{
  text-align: center;
  width: 70%;
  margin: auto;

}

.dice{
  text-align: center;
  display: inline-block;
}

body{
  background-color: #393E46;
}

h1{
  font-family: "Lobster";
  color: #4ECCA3;
  font-size: 8rem;
  margin: 30px;
}
p{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: "Indie Flower";
}
img{
  width: 80%;
}

footer{
  text-align: center;
  color: #EEEEEE;
  font-family: "Indie Flower";
  margin-top: 5%;
}
